/* About.module.css */
.About {
  margin: 0 100px;
  padding: 0;
}

.banner {
  position: relative;
  border-radius: 20px;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

.imgBannerAbout {
  display: block;
  width: 100%;
  height: auto; 
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  border-radius: 20px;
  pointer-events: none; /* Pour que le dégradé n'interfère pas avec les interactions de la souris */
}

.titreCollapse {
  font-style: normal;
  font-weight: 400;
}

.description {
  background-color: #f0f0f0;
  padding: 15px ;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  margin: 0;
}

/* Media query pour les écrans mobiles (max-width: 768px)  */
@media (max-width: 768px) {
  .About {
    margin: 0 15px;
  }

  .banner {
   height: 100px;
   margin-bottom: 15px;
   border-radius: 10px;
  }

  .imgBannerAbout {
    height: 100px;
    border-radius: 10px;
  }

  .banner::after {
    border-radius: 20px;
  }

  .description {
    font-size: 13px;
    padding: 10px ;
  }
}
