/* Error.module.css */

.error {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .alert404 {
    margin: 0 100px;
    font-size: 175px;
    font-weight: 700;
    color: #FF6060;
  }
  
  .description {
    font-size: 1.5em;
    font-weight: 500;
    margin: 80px 100px;
    color: #FF6060;
  }
  
  .link {
    color: black; 
  }
  
  /* Media query pour les écrans mobiles */
@media (max-width: 768px) {
    .error {
        padding: 20px 0px 0px 0px;
    }

    .alert404 {
        font-size: 90px;
    }

    .description {
        font-size: 15px;
        line-height: 25.67px;
        text-align: center;
    }

}