/* Card.module.css */
  
.card{
    position: relative;
}
  
.link img{
    object-fit: cover;
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    filter: brightness(0.7); 
}
  
  .title {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    left: 10px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    color: #FFFFFF;
  }

/* Media query pour les écrans mobiles */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Adapter la largeur à l'écran */
    margin-bottom: 20px; /* Ajouter un espace entre les cartes */
  }

  .title {
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .card {
      font-size: 14px;
  }
}
