/* FicheLogements.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
  padding: 0;
}

.titleHostContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0 15px 0;
}

.titleLocation {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 10px;
  font-size: 2rem; 
  font-weight: 500;
  text-align: left;
  color: #FF6060;
  margin-bottom: 5px;
}

.location {
  font-size: 1.125rem; 
  color: black;
  margin: 0;
  font-weight: 500;
  text-align: left;
}

.tagsAndRating {
  display: flex;
  flex-direction: column; 
  position: relative; 
  width: 100%;
  margin: 0 0 30px 0;
}

.rating {
  max-width: 100%;
  height: auto;
  padding: 3px;
  position: absolute;
  display: flex;
  right: 0px;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

/* Media query pour les écrans mobiles (max-width: 768px)  */
@media (max-width: 768px) {
  .container {
    margin: 0 5%;
  }

  .title {
    width: 100%;
    margin: 0 5px;
    font-size: 12px; 
  }

  .titleHostContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .location {
    margin-left: 5px;
    font-size: 12px; 
  }

  .tagsAndRating {
    flex-direction: column;
    justify-content: flex-start;
    height: 20px;
    gap: 5px;
    position: relative; 
  }

  .rating {
    width: 98px;
    height: 18px;
    top: 35px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
  }

  .star {
    margin-right: 3px; 
  }

  .tags {
    max-width: 100%;
    gap:  3px; 
    margin: 0 0 10px 2px;
  }

  .tag {
    font-size: 7px; 
    padding: 5px 15px; 
    border-radius: 5px;
  }


}



