.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
  padding: 0;
}

.titleHostContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0 15px 0;
}

.titleLocation {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 2rem; /* ~36px */
  font-weight: 500;
  text-align: left;
  color: #FF6060;
}

.location {
  font-size: 1.125rem; /* ~18px */
  color: black;
  margin: 5px 0 0 0;
  font-weight: 500;
  text-align: left;
}

.host {
  display: flex;
  align-items: center;
  position: absolute; /* Position absolue */
  right: 100px; /* À droite du conteneur parent */
  top: 570px; /* Ajuster selon l'espace nécessaire en dessous de rating */
}

.host p {
  width: 93px;
  height: 52px;
  top: 608px;
  left: 1170px;
  gap: 0px;
  opacity: 0px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: #FF6060;
  padding-top: 5px;
}

.host img {
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.tagsAndRating {
  display: flex;
  flex-direction: column; /* Changement de la direction pour les écrans plus petits */
  position: relative; /* Position relative pour contenir les éléments absolus */
  width: 100%;
  margin: 0 0 30px 0;
}

.rating {
  display: flex;
  position: absolute; /* Position absolue */
  right: 0; /* À droite du conteneur parent */
  top: 0; /* En haut du conteneur parent */
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 5px 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    margin: 0 3%;
  }

  .title {
    font-size: 28px; /* ~28px */
  }

  .titleHostContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .location {
    font-size: 12px; /* ~14px */
  }

  .tagsAndRating {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    position: relative; /* Pour contenir les éléments absolus */
  }

  .rating {
    /* Ajuster si nécessaire */
    position: absolute; /* Position absolue */
    width: 30%;
    height: auto;
    left: 0; /* À droite du conteneur parent */
    top: 40px  ; /* En haut du conteneur parent */
  }

  .host {
    margin-top: 10px; /* Ajuster l'espacement si nécessaire */
    position: absolute; /* Position absolue */
    right: 10px; /* À droite du conteneur parent */
    top: 430px; /* Ajuster selon l'espace nécessaire en dessous de rating */
  }

  .star {
    margin-right: 3px; /* Ajuster si nécessaire */
  }

  .tags {
    gap: 10px; /* Ajuster si nécessaire */
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .tag {
    font-size: 10px; /* Ajuster si nécessaire */
    padding: 5px 15px; /* Ajuster si nécessaire */
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0 2%;
  }
}
