/* FicheLogements.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
  padding: 0;
}

.titleHostContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0 15px 0;
}

.titleLocation {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 10px;
  font-size: 2rem; 
  font-weight: 500;
  text-align: left;
  color: #FF6060;
}

.location {
  font-size: 1.125rem; 
  color: black;
  margin: 5px 0 0 0;
  font-weight: 500;
  text-align: left;
}

.host {
  display: flex;
  align-items: center;
  position: absolute; 
  right: 100px; 
  top: 575px; 
}

.host p {
  width: 93px;
  height: 52px;
  top: 608px;
  left: 1170px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
}

.host img {
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.tagsAndRating {
  display: flex;
  flex-direction: column; 
  position: relative; 
  width: 100%;
  margin: 0 0 30px 0;
}

.rating {
  display: flex;
  position: absolute; 
  right: -10px; 
  top: 0;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 5px 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

/* Media query pour les écrans mobiles (max-width: 768px)  */
@media (max-width: 768px) {
  .container {
    margin: 0 5%;
  }

  .title {
    margin: 0 5px;
    font-size: 15px; 
  }

  .titleHostContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .location {
    margin-left: 5px;
    font-size: 12px; 
  }

  .tagsAndRating {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    position: relative; 
  }

  .rating {
    width: 98px;
    height: 18px;
    top: 45px;
    left: 5px;
  }

  .host {
    margin-top: 12px; 
    position: absolute; 
    right: 23px;
    top: 445px; 
  }

  .host p {
    width: 55px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-align: right;
  }

    .host img {
    width: 32px;
    height: 32px;
    top: 0.5px;
    left: 103.5px;
    gap: 0px;
    opacity: 0px;
    
    }

    .star {
      margin-right: 3px; 
    }

    .tags {
      max-width: 100%;
      gap:  3px; 
      margin: 0 0 10px 2px;
    }

    .tag {
      font-size: 8px; 
      padding: 5px 15px; 
      border-radius: 5px;
  }
}

