/* Host.module.css */
.host {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative; 
  margin-top: 20px;
}

.host p {
  width: 93px;
  height: 52px;
  top: 608px;
  left: 1170px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
}

.host img {
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

/* Media query pour les écrans mobiles (max-width: 768px) */
@media (max-width: 768px) {
    .host {
        width: 25%;
        top: 10px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
      }
    
      .host p {
        width: 50px;
        height: 33px;
        text-align: right;
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        line-height: 17.11px;
      }
    
      .host img {
        width: 32px;
        height: 32px;
        margin-left: 10px; 
      }
}



