/* CollapseDetails.module.css */
.collapseDetails {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  gap: 50px; 
  border-radius: 5px;
}

.banniere {
  flex: 1; /* Pour s'assurer que chaque bannière prend un espace égal */
}

.description, .equipements {
  background: #F6F6F673;
  padding: 10px;
  color: black;
  margin: 0;
}

.equipements {
  list-style: none;
}

@media (max-width: 768px) {
  .collapseDetails {
      gap: 0;
      flex-direction: column;
      margin-top: -40px;
  }

  .description, .equipements {
    font-size: 13px;
  }
}