.carrousel {
  position: relative;
  width: 100%;
  height: 50vh; /* ou toute autre hauteur souhaitée */
  overflow: hidden;
  border-radius: 15px;
}

.carrousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Les images couvriront tout l'espace sans déformation */
  object-position: center; /* Centre l'image */
  display: block;
  border-radius: 15px;
}

.carrousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.carrousel-button.prev {
  left: 10px;
}

.carrousel-button.next {
  right: 10px;
}

.carrousel-button img {
  height: 60px;
}

.carrousel-button img:hover {
  transform: scale(1.3); 
  transition: transform 0.2s, border-color 0.2s; 
}

/* Numérotation des slides */
.slide-number {
  position: absolute;
  bottom: 10px;
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Centrer horizontalement */
  color: white;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}


/* Ajout des styles pour les médias max-width: 768px */
@media (max-width: 768px) {
  .carrousel {
    height: 40vh; /* Par exemple, une hauteur différente pour les écrans plus petits */
  }

  .carrousel-button img {
    width: 25px; /* Taille réduite des flèches pour les écrans plus petits */
    height: 25px;
  }

  .slide-number {
    font-size: 1rem;
    padding: 4px 8px;
  }
}

/* Ajout des styles pour les médias max-width: 480px */
@media (max-width: 480px) {
  .carrousel {
    height: 30vh; /* Par exemple, une hauteur encore plus petite pour les écrans très petits */
  }

  .carrousel-button img {
    width: 20px; /* Taille encore réduite des flèches pour les écrans très petits */
    height: 20px;
  }

  .slide-number {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
}
