/* Footer.module.css */
.footer {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px 0;
    margin-top: auto; 
    height: 200px;
}

.divLogo {
    max-width: 50%;
    margin: 20px;
}

.divLogo img {
    max-width: 100%;
    margin: 10px;
}

.footer p {
    text-align: center;
}


/* Media query pour les écrans mobiles (max-width: 768px) */
@media (max-width: 768px) {
   .footer p {
        width: 133.59px;
        font-size: 12px; 
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
    }

    .divLogo {
        margin: 20px 0 5px 0;
    }
}
